[user]
    name = Thomas von Rosenberg
    email = email
[core]
    autocrlf = false
    excludesfile = ~/.gitignore
    pager = delta
[alias]
    st = status --short --branch
    co = checkout
    amend = commit --amend
    lob = log --graph --decorate --format='%C(auto)%h%d %C(green)%aN %C(auto)%s% gD' --abbrev-commit
    lol = log --graph --decorate --format='%C(auto)%h%d %C(green)%aN %C(auto)%s% gD' --abbrev-commit --all --max-count=20
    lola = log --graph --decorate --format='%C(auto)%h%d %C(green)%aN %C(auto)%s% gD' --abbrev-commit --all
    fixup = !GIT_SEQUENCE_EDITOR=true git rebase -i --autosquash
    wip = !git add -A && git commit -m wip
[push]
    default = current
[merge]
    tool = vimdiff
    renameLimit = 100000000
[mergetool]
    path = nvim
[rerere]
    enabled = true
[branch]
    autosetuprebase = always
[pull]
    rebase = true
[gc]
    autoDetach = false
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[commit]
    template = ~/.gitmessage
    verbose = true
[interactive]
    diffFilter = delta --light --color-only
[delta]
    features = line-numbers decorations
    syntax-theme = Solarized (light)
    whitespace-error-style = 22 reverse
[delta "decorations"]
    file-decoration-style = none
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
